---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Home from '../sections/Home.astro';
import Experience from '../sections/Experience.astro';
import Skills from '../sections/Skills.astro';
import BgSkillsSection from '../assets/BgSkillsSection.astro';
import Footer from '../sections/Footer.astro';
---
<Layout title="Home">
	<Menu />
	<header class=" w-full ">
		<Home />
	</header>
	<main class="w-full">
		<div id="Experience" class="h-25"></div>
		<Experience />
		<div id="Skills" class="h-25"></div>
		<div class="relative flex flex-col items-center justify-center w-full h-full">
			<BgSkillsSection />
			<Skills />
		</div>
	</main>
	<footer id="Contact" class="w-full">
		<Footer />
	</footer>
</Layout>