---
interface Props {
    title: string;
    logo?: string;
}
const { title, logo } = Astro.props;
---

<div class="col-span-1 flex items-center justify-center mr-4">
    <img class="mt-5" src={logo} alt="" srcset="">
</div>
<!-- ------- -->
<div class="col-span-1">
    <div class="w-0.5 bg-orange-400 h-full mx-auto relative">
        <div class="w-5 h-5 bg-orange-400 rounded-full absolute top-[50%] -left-[9px]"></div>
    </div>
</div>
<!-- ------- -->
<div class="col-span-1 p-4">
    <h4 class="font-medium mb-4">{title}</h4>
    <slot />
</div>