---
import IconMoon from '../assets/icons/general/IconMoon.astro';
import IconSC3 from '../assets/icons/general/IconSC3.astro';
---
<div class="w-full flex justify-around p-3 bg-purple-950 sticky top-0 z-50 ">
    <IconSC3 size="w-10 h-10" color="text-BM-text" />
    <nav class="flex items-center gap-8 font-medium">
        <a href="#Home" class="text-white hover:text-orange-400 transition-colors">Inicio</a>
        <a href="#Experience" class="text-white hover:text-orange-400 transition-colors">Experiencia</a>
        <a href="#Skills" class="text-white hover:text-orange-400 transition-colors">Habilidades</a>
        <a href="#Contact" class="text-white hover:text-orange-400 transition-colors">Contacto</a>
    </nav>
    <div class="flex items-center gap-4">
        <select class="font-medium text-1xl cursor-pointer" name="language" id="language">
            <option class="bg-gray-900" value="ES" selected> ES</option>
            <option class="bg-gray-900" value="EN">EN</option>
        </select>
        <a href="">
            <IconMoon size="w-6 h-6" color="text-BM-text" />
        </a>
    </div>
</div>