---
import IconMoon from '../assets/icons/general/IconMoon.astro';
import IconSun from '../assets/icons/general/IconSun.astro';
import IconSC3 from '../assets/icons/general/IconSC3.astro';
import ButtomSwitch from './ButtomSwitch.astro';
---
<div class="w-full flex justify-around p-3 bg-indigo-400 dark:bg-purple-950 sticky top-0 z-50 ">
    <IconSC3 size="w-10 h-10" color="text-BM-text" />
    <nav class="flex items-center gap-8 font-medium ">
        <a href="#Home" class="text-white hover:text-orange-400 transition-colors">Inicio</a>
        <a href="#Experience" class="text-white hover:text-orange-400 transition-colors">Experiencia</a>
        <a href="#Skills" class="text-white hover:text-orange-400 transition-colors">Habilidades</a>
        <a href="#Contact" class="text-white hover:text-orange-400 transition-colors">Contacto</a>
    </nav>
    <div class="flex items-center gap-4">
        <ButtomSwitch type="theme" id="dark-mode-toggle">
            <IconMoon size="w-5 h-5 z-10" color="text-BM-text" />
            <IconSun size="w-5 h-5 z-10" color="text-BM-text" />
        </ButtomSwitch>
    </div>
    
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const themeToggle = document.querySelector('#dark-mode-toggle');
    
        let currentTheme = 'light';
        
        const applyTheme = (theme:any) => {
            currentTheme = theme;
            
            if (theme === 'dark') {
                document.documentElement.classList.add('dark');
                document.body.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
                document.body.classList.remove('dark');
            }
        };
        
        const toggleTheme = () => {
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            applyTheme(newTheme);
        };
        
        applyTheme('dark');
        
        themeToggle?.addEventListener('click', toggleTheme);
    });
  </script>
  
