---
interface Props {
	text: string;
    color: string;
}
const {text, color} = Astro.props;

---

<p class=`border-2 border-${color} bg-${color} dark:bg-transparent rounded py-1 px-2 mt-2 font-medium text-xs dark:text-BM-text text-WM-text`>{text}</p>
