---
interface Props {
	title: string;
}
const title = Astro.props.title;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="./src/style.css" />
		<title>{title}</title>
	</head>
	<body id="Home" class="grid place-items-center w-full dark:bg-slate-950 bg-zinc-300 dark:text-white text-slate-950 transition-colors">
		<slot />
		<style>
			:root {
				font-family: 'Poppins', 'system-ui';
				scroll-behavior: smooth;
			}
		</style>
	</body>
</html>